.footerDiv {
    background-color: var(--secondary);
    width: 100vw;
    margin: 0vw;

    &>div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 2em;
    }

    &>ul>li,
    &>ul>li>a {
        list-style: none;
        color: bisque;
    }
}