@import url(../basis.css);
@import url(thumbRadio.css);
@import url(tooltip.css);

.myForm {
  width: 100%;
  max-width: 120em;
  margin: 0 auto;
}

.question {
  display: flex;
  flex-direction: row;
  padding-left: 0px !important;
  margin-left: 0px !important;
}

.nQuestion {
  font-weight: bold;
  min-width: 2em;
  height: 1.5em;

  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  border-radius: 0px 35% 35% 0px;
  margin-right: 0.2em;
  margin-left: 0px !important;
  padding-left: 0px !important;
}
.card {
  background: var(--mono1);
  border-radius: 10px;
}

.card .h4 {
  font-size: xx-large;
  background: #544e61;
  border-radius: 10px 10px 0px 0px;
  text-align: justify;
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
}

.card .radioInput {
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
}
