input[type="radio"] {
  appearance: none;
}

.nf.radio {
  font-size: 2.5rem;
}

label.radio:hover,
input[type="radio"]:hover + label.radio,
input[type="radio"]:focus + label.radio {
  cursor: pointer !important;
  transform: scale(1.2) !important;
  transition: 0.35s;
}

label.nunca:hover,
label.nunca:focus {
  color: var(--1);
}

label.raro:hover {
  color: var(--2);
}

label.aveces:hover {
  color: var(--3);
}

label.frecuente:hover {
  color: var(--4);
}

label.siempre:hover {
  color: var(--5);
}
* label.nunca::before:checked {
  color: var(--1);
}

input[type="radio"]:checked + label.nunca {
  color: var(--1-sel);
}

input[type="radio"]:checked + label.raro {
  color: var(--2-sel);
}

input[type="radio"]:checked + label.aveces {
  color: var(--3-sel);
}

input[type="radio"]:checked + label.frecuente {
  color: var(--4-sel);
}

input[type="radio"]:checked + label.siempre {
  color: var(--5-sel);
}

/* caja de SELECCIONAR 
  cursor: default !important;
  cambiar el contenido de h3 .meaning
  al hacer hover
*/
.meaning {
  cursor: default !important;
  background: var(--mono2);
  color: var(--text);
  width: 10em;
  height: 2em;
  border-radius: 10px;
  margin-top: 0.5em;
  /* alinear el text */
  display: flex;
  justify-content: center;
  align-items: center;
  /* trasicion */
  transition: 1s;
}
.meaning:after {
  content: "Seleccionar...";
  color: var(--mono0);
}

label:hover ~ div > .meaning {
  transform: scale(1.05) !important;
  background: var(--mono2) !important;
}
input[type="radio"]:checked + label ~ div > .meaning {
  transform: scale(1.3);
  background: var(--mono3);
}

label.nunca:hover ~ div > .meaning:after,
label.nunca:focus ~ div > .meaning:after {
  content: "Nunca" !important;
}
input[type="radio"]:checked + label.nunca ~ div > .meaning:after {
  content: "Nunca";
}

label.raro:hover ~ div > .meaning:after,
label.raro:focus ~ div > .meaning:after {
  content: "Raramente" !important;
}
input[type="radio"]:checked + label.raro ~ div > .meaning:after {
  content: "Raramente";
}

label.aveces:hover ~ div > .meaning:after,
label.aveces:focus ~ div > .meaning:after {
  content: "A veces" !important;
  transform: scale(1.2) !important;
}
input[type="radio"]:checked + label.aveces ~ div > .meaning:after {
  content: "A veces";
}

label.frecuente:hover ~ div > .meaning:after,
label.frecuente:focus ~ div > .meaning:after {
  content: "Frecuentemente" !important;
}
input[type="radio"]:checked + label.frecuente ~ div > .meaning:after {
  content: "Frecuentemente";
}

label.siempre:hover ~ div > .meaning:after,
label.siempre:focus ~ div > .meaning:after {
  content: "Siempre" !important;
}
input[type="radio"]:checked + label.siempre ~ div > .meaning:after {
  content: "Siempre";
}

@media screen and (max-width: 1750px) {
  .nf.radio {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1200px) {
  .nf.radio {
    font-size: 2rem;
  }
}

@media screen and (max-width: 991px) {
  .nf.radio {
    font-size: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .nf.radio {
    font-size: 3rem;
  }
}
